<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/hartmann/.nix-profile/bin::/Users/hartmann/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/circonus/bin:/Users/hartmann/go/bin:/Users/hartmann/.luarocks/bin/:/Users/hartmann/.n/bin:/Users/hartmann/.npm/bin:/Library/Frameworks/Python.framework/Versions/3.8/bin</string>
	</dict>
	<key>Label</key>
	<string>com.heinrichhartmann.piled</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/piled</string>
		<string>-d</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.heinrichhartmann.piled.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.heinrichhartmann.piled.out</string>
	<key>WorkingDirectory</key>
	<string>/Users/hartmann/src/pile</string>
</dict>
</plist>
