 /* Switch to sane box model
  * https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model 
  */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#content, html, body {
  height: 100%;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
}

#left {
  padding: 20px;
  float:  left;
  width:  50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Use flex-box, so we can fit-in images */
  display: flex;
  flex-diration: column;
}

#right {
  padding: 20px;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

iframe {
  width:100%;
  height:100%;
  border:0px;
}

table {
  width:100%;
  overflow: hidden;
  word-break: break-all;
}

th, td {
  height: 1rem;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background: #F2F2F2;
}

th {
  padding: 3px;
  background: #91b6c6;
}

#filter {
  width: 100%;
}


.selected {
    background: #999 !important;
}
.ping {
    background:red !important;
}

#no_preview {
  height: 100%;
  widht: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preview_img {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  /* Fit image into containing flex-box */
  object-fit: contain;
  object-position: top;
}

#preview_pre {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  font-family: monospace;
  padding: 10px;
  background: #f8f8ff;
  white-space: pre-wrap;
}

#title {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 3em;
  margin-bottom: 10px;
  background: #91b6c6;
}

#title h1 {
  font-size: 1em;
}

.target_button {
  float: left;
  width: 120px;
  margin: 10px;
}

#form .f_label {
  width: 80px;
  text-align: center;
}

#form table td {
  // height: 3em;
  padding: 10px;
}

#form table tr {
  background : #FFF;
}

#form table input {
  width: 100%
}

#form h2 {
  clear: both;
}

#log {
  width: 100%;
  clear: both;
  background: #91b6c62b;
  padding: 20px;
}
